Source: xsession-kanotix
Section: base
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends-Indep: cdbs (>= 0.4.23-1.1), build-essential, debhelper (>= 4.1.0)
Standards-Version: 3.6.2

Package: xsession-kanotix
Architecture: all
Depends: etcskel-kanotix, kanotix-remountrw, rsync, hwsetup-kanotix, distro-defaults
Suggests: mkdesktophdicons-kanotix
Provides: xsession-knoppix
Replaces: xsession-knoppix
Description: Automatic Xsession startup script for KANOTIX
 Only for live usage, as this overrides the ordinary startup methods.
