Source: xsession-sidux
Section: x11
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: xsession-sidux
Architecture: all
Pre-Depends: distro-defaults
Depends: etcskel-sidux, rsync, initscripts-sidux-live, dbus, xterm | x-terminal-emulator, sidux-graphics, xloadimage, xorgconfig-sidux
Conflicts: kanotix-remountrw, mkdesktophdicons-kanotix, xsession-kanotix, xsession-initscript-kanotix
Replaces: xsession-initscript-sidux (<< 0.7)
Suggests: 915resolution
Description: Starts X-Window system from INIT, automatic Xsession
 Only for live usage, as this overrides the ordinary startup methods, custom
 Initscripts for the sidux live X11 capabilities.
