Source: xsession-sidux
Section: base
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: xsession-sidux
Architecture: all
Pre-Depends: distro-defaults
Depends: etcskel-sidux, rsync, initscripts-sidux-live, dbus, xterm | x-terminal-emulator
Conflicts: kanotix-remountrw, mkdesktophdicons-kanotix, xsession-kanotix 
Description: Automatic Xsession startup script for sidux
 Only for live usage, as this overrides the ordinary startup methods.
